body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#character-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#character-info img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

#batalla{
    display: flex;
}

img{
    height: 190px;
}

#divGanador{
    text-align: center;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}